.elementor-7094 .elementor-element.elementor-element-97e0b7a:not(.elementor-motion-effects-element-type-background),
.elementor-7094 .elementor-element.elementor-element-97e0b7a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #17222B
}

.elementor-7094 .elementor-element.elementor-element-97e0b7a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 45px 0 60px 0
}

.elementor-7094 .elementor-element.elementor-element-97e0b7a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7094 .elementor-element.elementor-element-5f06ffe>.elementor-element-populated>.elementor-widget-wrap {
    padding: 1px 1px 1px 1px
}

.elementor-7094 .elementor-element.elementor-element-70664e6>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-7094 .elementor-element.elementor-element-70664e6 {
    border-style: dashed;
    border-width: 0 0 2px 0;
    border-color: #3A434B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 20px 0
}

.elementor-7094 .elementor-element.elementor-element-70664e6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7094 .elementor-element.elementor-element-d2eb18d {
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-d2eb18d img {
    width: 240px
}

.elementor-7094 .elementor-element.elementor-element-d2eb18d>.elementor-widget-container {
    margin: 0 0 15px 0
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-3e5f558 a {
    background-color: #FFFFFF12
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-3e5f558 a:hover {
    background-color: #1091FF
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-b0014b0 a {
    background-color: #FFFFFF12
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-b0014b0 a:hover {
    background-color: #1091FF
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-1f44137 a {
    background-color: #FFFFFF12
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-1f44137 a:hover {
    background-color: #1091FF
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-dc7d0ee a {
    background-color: #FFFFFF12
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons .elementor-repeater-item-dc7d0ee a:hover {
    background-color: #1091FF
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons ul li i {
    font-size: 16px
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons li i {
    border-radius: 0 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons ul li a {
    border-radius: 0 0 0 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 0;
    padding: 8px 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons ul li {
    display: inline-block
}

.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons ul li a,
.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons ul li a:before,
.elementor-7094 .elementor-element.elementor-element-b6df213 .element__ready__socials__buttons ul li a:after {
    transition: 0.3s
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 .box__icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    position: initial
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 .box__icon,
.elementor-7094 .elementor-element.elementor-element-f99fb07 .box__icon img {
    transition: 0.3s
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 .box__title:before {
    position: relative;
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 .box__title:after {
    position: relative;
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 .subscriber__email {
    display: inline-block;
    background-color: #FFF;
    height: 55px
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 a.subscriber__email,
.elementor-7094 .elementor-element.elementor-element-f99fb07 .subscriber__email {
    color: #515A60
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 .subscribe__btn {
    display: inline-block;
    float: right;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #DCDEDF;
    width: 110px;
    height: 55px;
    margin: -65px 0 0 0;
    padding: 0 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-f99fb07 {
    text-align: right;
    position: initial
}

.elementor-7094 .elementor-element.elementor-element-f99fb07>.elementor-widget-container {
    margin: -25px 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-2025513 {
    color: #FFF6;
    font-family: "Heebo", Sans-serif;
    font-weight: 400
}

.elementor-7094 .elementor-element.elementor-element-2025513>.elementor-widget-container {
    margin: -15px 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-bd772c7 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 58px 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-76bf139>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 30px 0 0
}

.elementor-7094 .elementor-element.elementor-element-6dddde3 {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-7094 .elementor-element.elementor-element-ab486e8 .heading {
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-ab486e8 .widget-title {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 0 0;
    margin: 0 0 25px 0
}

.elementor-7094 .elementor-element.elementor-element-ab486e8 .widget-title:before {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #F2295B00 100%)
}

.elementor-7094 .elementor-element.elementor-element-ab486e8 ul li a {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    padding: 0 0 6px 0
}

.elementor-7094 .elementor-element.elementor-element-ab486e8>.elementor-widget-container {
    border-style: dashed;
    border-width: 0 2px 0 0;
    border-color: #3A434B
}

.elementor-7094 .elementor-element.elementor-element-3a0e2a0 .heading {
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-3a0e2a0 .widget-title {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 0 0;
    margin: 0 0 25px 0
}

.elementor-7094 .elementor-element.elementor-element-3a0e2a0 .widget-title:before {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #F2295B00 100%)
}

.elementor-7094 .elementor-element.elementor-element-3a0e2a0 ul li a {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 14px !important;
    padding: 0 0 6px 0
}

.elementor-7094 .elementor-element.elementor-element-3a0e2a0>.elementor-widget-container {
    padding: 0 0 0 10px
}

.elementor-7094 .elementor-element.elementor-element-5f3a88c {
    border-style: dashed;
    border-width: 2px 0 0 0;
    border-color: #3A434B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-5f3a88c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7094 .elementor-element.elementor-element-5eb4531>.elementor-element-populated {
    border-style: dashed;
    border-width: 0 2px 0 0;
    border-color: #3A434B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
}

.elementor-7094 .elementor-element.elementor-element-5eb4531>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7094 .elementor-element.elementor-element-3f89ea1 .elementor-heading-title {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 500
}

.elementor-7094 .elementor-element.elementor-element-64371f1 .single__menu__nav ul.element__ready__menu {
    display: block;
    float: none;
    list-style: none
}

.elementor-7094 .elementor-element.elementor-element-64371f1 .single__menu__nav ul.element__ready__menu li a {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-weight: 400;
    display: block;
    position: relative;
    margin: 0 0 10px 0
}

.elementor-7094 .elementor-element.elementor-element-64371f1 .single__menu__nav ul.element__ready__menu li {
    display: block
}

.elementor-7094 .elementor-element.elementor-element-64371f1>.elementor-widget-container {
    margin: 04px 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-a22e325>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 30px
}

.elementor-7094 .elementor-element.elementor-element-8038b93 .heading {
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-8038b93 .widget-title {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 0 0;
    margin: 0 0 25px 0
}

.elementor-7094 .elementor-element.elementor-element-8038b93 .widget-title:before {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #F2295B00 100%)
}

.elementor-7094 .elementor-element.elementor-element-8038b93 ul li a {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    padding: 0 0 6px 0
}

.elementor-7094 .elementor-element.elementor-element-5c36e45>.elementor-element-populated {
    border-style: dashed;
    border-width: 0 0 0 2px;
    border-color: #3A434B;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0 0 0 0;
    --e-column-margin-right: 0;
    --e-column-margin-left: 0
}

.elementor-7094 .elementor-element.elementor-element-5c36e45>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7094 .elementor-element.elementor-element-5c36e45>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 30px
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .widget-title {
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    padding: 0 0 10px 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .widget-title {
    margin: 0 0 23px 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text h4 a {
    color: #FFF
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text h4 a,
.elementor-7094 .elementor-element.elementor-element-18acd96 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-weight: 500
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta span {
    color: #FFFFFFBF
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta2 a.date {
    color: #FFFFFFBF
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta4 a.date {
    color: #FFFFFFBF
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta3 a.date {
    color: #FFFFFFBF
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta span,
.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta3 a.date,
.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta2 a.date,
.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta4 a.date {
    font-size: 13px;
    font-weight: 400
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta a,
.elementor-7094 .elementor-element.elementor-element-18acd96 .meta3 a.cat,
.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta2 a.cat,
.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post_text .meta4 a.cat {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post {
    margin: 0 0 -29px 0;
    padding: 0 30px 11px 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .post_type3 .single_post_text {
    margin: 0 0 -29px 0;
    padding: 0 30px 11px 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .main-section {
    margin: 0 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 .single_post2_carousel {
    margin: 0 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-18acd96 span.tranding {
    top: 5px
}

.elementor-7094 .elementor-element.elementor-element-4b73461 .widget-title:before {
    display: none
}

.elementor-7094 .elementor-element.elementor-element-4b73461 .widget-title {
    text-align: left;
    color: #FFF;
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 33px 0;
    margin: 0 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-4b73461 .single_fcontact {
    color: #FFF
}

.elementor-7094 .elementor-element.elementor-element-4b73461 .single_fcontact .fcicon i {
    color: #FFF
}

.elementor-7094 .elementor-element.elementor-element-4b73461 .single_fcontact .fcicon svg * {
    fill: #FFFFFF !important
}

.elementor-7094 .elementor-element.elementor-element-4b73461>.elementor-widget-container {
    margin: 20px 0 0 0;
    padding: 38px 0 0 0;
    border-style: dashed;
    border-width: 2px 0 0 0;
    border-color: #3A434B
}

.elementor-7094 .elementor-element.elementor-element-9ce754c:not(.elementor-motion-effects-element-type-background),
.elementor-7094 .elementor-element.elementor-element-9ce754c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #232D36
}

.elementor-7094 .elementor-element.elementor-element-9ce754c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 27px 0 27px 0
}

.elementor-7094 .elementor-element.elementor-element-9ce754c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7094 .elementor-element.elementor-element-28d4b0c>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 0 0 0
}

.elementor-7094 .elementor-element.elementor-element-9b1c37e {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-7094 .elementor-element.elementor-element-8834b30 {
    text-align: left
}

.elementor-7094 .elementor-element.elementor-element-8834b30 .copyright__text__area {
    color: #FFF6;
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 400
}

.elementor-7094 .elementor-element.elementor-element-da682b1 .single__menu__nav ul.element__ready__menu {
    display: block;
    float: none;
    list-style: none;
    text-align: right
}

.elementor-7094 .elementor-element.elementor-element-da682b1 .single__menu__nav ul.element__ready__menu li a {
    color: #FFF6;
    font-family: "Heebo", Sans-serif;
    display: inline-block;
    position: relative;
    margin: 0 0 0 30px
}

.elementor-7094 .elementor-element.elementor-element-da682b1 .single__menu__nav ul.element__ready__menu li {
    display: inline-block
}

.elementor-7094 .elementor-element.elementor-element-da682b1 .single__menu__nav ul.element__ready__menu>li:hover>a {
    color: #1091FF
}

@media(min-width:768px) {
    .elementor-7094 .elementor-element.elementor-element-5baab93 {
        width: 59.998%
    }
    .elementor-7094 .elementor-element.elementor-element-c9888bc {
        width: 39.923%
    }
    .elementor-7094 .elementor-element.elementor-element-76bf139 {
        width: 68.73%
    }
    .elementor-7094 .elementor-element.elementor-element-5eb4531 {
        width: 48.01%
    }
    .elementor-7094 .elementor-element.elementor-element-a22e325 {
        width: 51.99%
    }
    .elementor-7094 .elementor-element.elementor-element-5c36e45 {
        width: 31.27%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-7094 .elementor-element.elementor-element-5baab93 {
        width: 100%
    }
    .elementor-7094 .elementor-element.elementor-element-c9888bc {
        width: 100%
    }
    .elementor-7094 .elementor-element.elementor-element-76bf139 {
        width: 100%
    }
    .elementor-7094 .elementor-element.elementor-element-5c36e45 {
        width: 100%
    }
    .elementor-7094 .elementor-element.elementor-element-807d8b0 {
        width: 100%
    }
    .elementor-7094 .elementor-element.elementor-element-8eb8652 {
        width: 100%
    }
}

@media(max-width:1024px) {
    .elementor-7094 .elementor-element.elementor-element-76bf139>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 0 0
    }
    .elementor-7094 .elementor-element.elementor-element-5c36e45>.elementor-element-populated {
        border-width: 0 0 0 0
    }
    .elementor-7094 .elementor-element.elementor-element-5c36e45>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 0 15px
    }
    .elementor-7094 .elementor-element.elementor-element-8834b30 {
        text-align: center
    }
    .elementor-7094 .elementor-element.elementor-element-da682b1 .single__menu__nav ul.element__ready__menu {
        text-align: center
    }
    .elementor-7094 .elementor-element.elementor-element-da682b1 .single__menu__nav ul.element__ready__menu li a {
        margin: 0 10px 0 10px
    }
}

@media(max-width:767px) {
    .elementor-7094 .elementor-element.elementor-element-3a0e2a0>.elementor-widget-container {
        padding: 0 0 0 0
    }
}

.elementor-6957 .elementor-element.elementor-element-ac06985 .single_post {
    border-bottom:
}

.elementor-7094 .elementor-element.elementor-element-bb8c018 ul li a {
    display: inline-block
}

.elementor-7094 .elementor-element.elementor-element-09d9a17 .theme-4 {
    background: transparent
}

.meta a:after,
.meta2 a:after,
.meta3 a:after,
.meta4 a:after,
.meta5 a:after,
.post__meta a:after {
    color: #fff
}

.elementor-7094 .elementor-element.elementor-element-4b73461 .theme-4 {
    background: transparent
}

.type8_count h2 {
    color: #495259
}