.elementor-7176 .elementor-element.elementor-element-778f062 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 10px
}

.elementor-7176 .elementor-element.elementor-element-778f062 {
    margin-top: 40px;
    margin-bottom: 0
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text h4 a:hover {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-eb5b620 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 36px;
    line-height: 1.2em
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text p {
    font-family: "Heebo", Sans-serif;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text .meta a.date {
    font-size: 14px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text .meta a.cat {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post .post_img img {
    height: 472px;
    width: 100%
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .post_gallary_area .single_post .gradient1::after {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: .8
}

.elementor-7176 .elementor-element.elementor-element-eb5b620 .single_gallary_item img {
    height: 66px
}

.elementor-7176 .elementor-element.elementor-element-d035853 .tab_widgets {
    margin: -10px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-d035853 .style2 .tab-content {
    margin: -10px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-d035853 .theme-4 .tab-content {
    margin: -10px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-d035853 .widgets_small .single_post_text h4 a:hover {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-d035853 .widgets_small .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-d035853 .single_post_text .meta span {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-d035853 .style2 .single_post_text .meta4 .date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-d035853 .theme-4 .tab-content .meta4 span {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-d035853 .theme-4 .tab-content .meta4 span,
.elementor-7176 .elementor-element.elementor-element-d035853 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-d035853 .style2 .single_post_text .meta4 .date {
    font-size: 13px
}

.elementor-7176 .elementor-element.elementor-element-d035853 .single_post_text .meta a {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-d035853 .style2 .single_post_text .meta4 a.cat {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-d035853 .theme-4 .tab4 .single_post_text a.cat {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-d035853 .theme-4 .tab4 .single_post_text a.cat,
.elementor-7176 .elementor-element.elementor-element-d035853 .single_post_text .meta a,
.elementor-7176 .elementor-element.elementor-element-d035853 .style2 .single_post_text .meta4 a.cat {
    font-size: 13px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-d035853 .border_black {
    margin: 0 0 28px 0
}

.elementor-7176 .elementor-element.elementor-element-d035853 .border4 {
    margin: 0 0 28px 0
}

.elementor-7176 .elementor-element.elementor-element-88196f7 {
    padding: 10px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .widget-title {
    font-family: "Heebo", Sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .widget-title {
    margin: 0 0 22px 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text h4 a:hover {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-9b19a58 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta4 a.date {
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta a {
    color: #FFF
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta2 a.cat {
    color: #FFF
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta4 a.cat {
    color: #FFF
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta a,
.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta4 a.cat {
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta {
    margin: 0 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta2 {
    margin: 0 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post_text .meta4 {
    margin: 0 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post .post_img img {
    height: 340px
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post .post_img::after {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(35, 51, 64, 0) 0%, #000000 100%)
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .main-section {
    margin: 20px 0 20px 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-9b19a58 .owl-nav {
    top: -50px
}

.elementor-7176 .elementor-element.elementor-element-9b19a58>.elementor-widget-container {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8a50535 {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-7176 .elementor-element.elementor-element-ea5ede0 {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .widget-title {
    margin: 0 0 12px 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text h4 a:hover {
    color: #1091FF
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 20px;
    line-height: 1.4em
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text p {
    font-family: "Heebo", Sans-serif;
    font-size: 15px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text p {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta span {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta3 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta3 a.date,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta4 a.date {
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta a,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .meta3 a.cat,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta4 a.cat {
    font-size: 14px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta2 {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta4 {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post_text .meta3 {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .post_img {
    margin: 0 0 -15px 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 img {
    border-radius: 0 0 0 0px !important
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .single_post {
    margin: 15px 0 10px 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .post_type3 .single_post_text {
    margin: 15px 0 10px 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .border_black {
    border-style: dashed;
    border-width: 0 0 2px 0
}

.elementor-7176 .elementor-element.elementor-element-8cd7b20 .main-section {
    margin: 0 0 10px 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-828be8a .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text .meta4 a.date {
    font-size: 13px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-828be8a .single_post_text .meta4 a.cat {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-5cc1f45.single_social {
    background: #1DA1F2
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-5cc1f45.follow_icon {
    background: #1B87CA
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-5b3b6bc.single_social {
    background: #FF5050
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-5b3b6bc.follow_icon {
    background: #D04648
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-18b9ae4.single_social {
    background: #00AB6C
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-18b9ae4.follow_icon {
    background: #065437
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-5c05f23.single_social {
    background: #9B45D5
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-5c05f23.follow_icon {
    background: #803DB3
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-72c6286.single_social {
    background: #1AB7EA
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .elementor-repeater-item-72c6286.follow_icon {
    background: #1999C3
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .widget-title {
    margin: 0 0 -2px 0
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .theme-3 a.single_social {
    width: 31%;
    border-radius: 0 0 0 0px !important
}

.elementor-7176 .elementor-element.elementor-element-589fc17 .main-section {
    background-color: rgba(209, 196, 196, 0);
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-589fc17>.elementor-widget-container {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    padding: 0 0 20px 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .widget-title {
    margin: 0 0 1px 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-ac06985 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta span {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta3 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta3 a.date,
.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta4 a.date {
    font-size: 13px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta a,
.elementor-7176 .elementor-element.elementor-element-ac06985 .meta3 a.cat,
.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post_text .meta4 a.cat {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .type8_count h2 {
    color: #7A7A7AA1
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .post_img.number h2 {
    color: #7A7A7AA1
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post {
    margin: 0 0 -11px 0;
    padding: 0 30px 21px 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .post_type3 .single_post_text {
    margin: 0 0 -11px 0;
    padding: 0 30px 21px 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .main-section {
    margin: 20px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 .single_post2_carousel {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ac06985 span.tranding {
    top: 5px
}

.elementor-7176 .elementor-element.elementor-element-5e81070 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-5e81070>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-7176 .elementor-element.elementor-element-22b8d6a {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-ca46856 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta a.date,
.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta4 a.date {
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta a.cat,
.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post_text .meta4 a.cat {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post .post_img img {
    height: 400px
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post .post_img::after {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF00 22%, #000000 100%);
    opacity: 1
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .single_post {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .main-section {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .mix_carousel {
    margin: 0 0 20px 0;
    padding: 30px 30px 30px 30px
}

.elementor-7176 .elementor-element.elementor-element-ca46856 .mix_carousel {
    background-color: #FCFCFC
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    padding: 6px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .widget-title {
    margin: 0 0 15px 0
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .video-heading .widget-title {
    color: #FCFCFC;
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    margin: 0 0 0 0;
    padding: 0 0 0 30px
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-ab5f510 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .video .single_post_text .meta3 a.date {
    color: #515A60;
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .video .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .video .single_post_text {
    padding: 22px 30px 25px 30px
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta a.date,
.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta4 a.date {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta a.cat,
.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta4 a.cat {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .main-section {
    background-color: #FCFCFC;
    margin: 0 0 0 0;
    padding: 15px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ab5f510 .viceo_posts_wrap {
    padding: 30px 30px 0 30px
}

.elementor-7176 .elementor-element.elementor-element-ab5f510>.elementor-widget-container {
    margin: -20px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-bf5f97f {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 40px 0
}

.elementor-7176 .elementor-element.elementor-element-eb71e3c {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    padding: 0 0 15px 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .widget-title {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text h4 a {
    color: #222
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text p {
    font-family: "Heebo", Sans-serif;
    font-size: 15px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta span {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta3 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta3 a.date,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta4 a.date {
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta a,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .meta3 a.cat,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta4 a.cat {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta {
    margin: 20px 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta2 {
    margin: 20px 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta4 {
    margin: 20px 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post_text .meta3 {
    margin: 20px 0 5px 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed img {
    border-radius: 0 0 0 0px !important
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .single_post {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .post_type3 .single_post_text {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-2a1d1ed .border_black {
    border-style: solid;
    border-width: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc .widget-title {
    margin: 0 0 10px 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc .widget-title {
    padding: 3px 0 9px 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-81157dc .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-weight: 700;
    line-height: 1.4em
}

.elementor-7176 .elementor-element.elementor-element-81157dc .single_post_text .post-p {
    font-family: "Heebo", Sans-serif;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-81157dc .single_post_text .meta3 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-81157dc .style4 .single_post_text .meta_col p {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-81157dc .single_post_text .meta3 a.date,
.elementor-7176 .elementor-element.elementor-element-81157dc .single_post_text .meta_col p {
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-81157dc .single_post_text .meta3 a.cat {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc img {
    border-radius: 0 0 0 0px !important
}

.elementor-7176 .elementor-element.elementor-element-81157dc .style4 .single_post_text {
    margin: 0 0 10px 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc .post__grid__style__1 .single_post {
    margin: 0 0 10px 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc .post__grid__style__2 .single_post {
    margin: 0 0 10px 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc .main-section {
    margin: 0 0 -10px 0
}

.elementor-7176 .elementor-element.elementor-element-81157dc>.elementor-widget-container {
    margin: 10px 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500;
    padding: 8px 0 9px 0
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .widget-title {
    margin: 0 0 13px 0
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .style1-single .single_post_text .meta3 a.date {
    color: #515A60;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .style1-single .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4em
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .style1-single .single_post_text p {
    font-family: "Heebo", Sans-serif;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type16 .single_post_text h4 a {
    color: #222
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type19 .single_post_text h4 a {
    color: #222
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type8 .single_post_text h4 a {
    color: #222
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type16 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type19 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type8 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type16 .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type8 .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type16 .single_post_text .meta4 a.date,
.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type8 .single_post_text .meta2 a.date {
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type16 .single_post_text .meta4 a.cat,
.elementor-7176 .elementor-element.elementor-element-ef6f5ad .type8 .single_post_text .meta2 a.cat {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .main-section {
    background-color: #FCFCFC;
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-ef6f5ad .owl-nav div {
    width: 30px
}

.elementor-7176 .elementor-element.elementor-element-487bdc1 img {
    width: 100%
}

.elementor-7176 .elementor-element.elementor-element-487bdc1>.elementor-widget-container {
    margin: 0 0 24px 0
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-f9e8690 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-weight: 700
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .single_post_text .meta3 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .style4 .single_post_text .meta_col p {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .single_post_text .meta3 a.date,
.elementor-7176 .elementor-element.elementor-element-f9e8690 .single_post_text .meta_col p {
    font-size: 14px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .single_post_text .meta3 a.cat {
    font-size: 14px;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .readmore {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-f9e8690 .style4 .readmore3 {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .widget-title {
    margin: 0 0 -12px 15px
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .widget-title {
    padding: 0 0 26px 0
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text h4 a {
    color: #111
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text h4 a:hover {
    color: #2095F3
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text h4 a,
.elementor-7176 .elementor-element.elementor-element-9027f05 .post_type7 .single_post_text h4 a {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta span {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta2 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta4 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta3 a.date {
    color: #515A60
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta span,
.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta3 a.date,
.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta2 a.date,
.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta4 a.date {
    font-size: 13px;
    font-weight: 400
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta a,
.elementor-7176 .elementor-element.elementor-element-9027f05 .meta3 a.cat,
.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta2 a.cat,
.elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta4 a.cat {
    font-family: "Heebo", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .post_img.number {
    background-color: #E9EAEB
}

.elementor-7176 .elementor-element.elementor-element-9027f05 .border_black {
    border-style: dashed;
    border-width: 0 0 2px 0
}

.elementor-7176 .elementor-element.elementor-element-9027f05>.elementor-widget-container {
    margin: 0 0 -20px -14px
}

.elementor-7176 .elementor-element.elementor-element-c04fdec .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-c04fdec .widget-title {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .widget-title:before {
    display: none;
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF00 100%)
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .news_letter .widget-title {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 4px;
    padding-right: 0
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .news_letter .desc {
    font-size: 17px
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .news_letter .footer-text {
    font-size: 17px
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type*="text"] {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type*="email"] {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type*="url"] {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type*="number"] {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type*="tel"] {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type*="date"] {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields .wpcf7-select {
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .mc4wp-form-fields input[type="submit"] {
    background-color: transparent;
    background-image: linear-gradient(180deg, #2095F3 0%, #2095F3 100%);
    transition: 0.3s
}

.elementor-7176 .elementor-element.elementor-element-c87bd5d .news_letter {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px
}

.elementor-7176 .elementor-element.elementor-element-455800a .widget-title {
    font-family: "Heebo", Sans-serif;
    font-weight: 500
}

.elementor-7176 .elementor-element.elementor-element-455800a .widget-title {
    margin: 0 0 0 0
}

.elementor-7176 .elementor-element.elementor-element-455800a .see_all {
    display: block
}

.elementor-7176 .elementor-element.elementor-element-b82ec12 img {
    width: 100%
}

@media(max-width:1024px) {
    .elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post .post_img img {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-eb5b620>.elementor-widget-container {
        margin: 0 0 20px 0
    }
    .elementor-7176 .elementor-element.elementor-element-d035853 .widgets_small .single_post_text h4 a {
        font-size: 16px
    }
    .elementor-7176 .elementor-element.elementor-element-9b19a58 .main-section {
        margin: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-8a50535 {
        padding: 30px 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-589fc17 .theme-3 a.single_social {
        width: 32%
    }
    .elementor-7176 .elementor-element.elementor-element-ca46856 .single_post .post_img img {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text h4 a,
    .elementor-7176 .elementor-element.elementor-element-9027f05 .post_type7 .single_post_text h4 a {
        font-size: 16px
    }
    .elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta a,
    .elementor-7176 .elementor-element.elementor-element-9027f05 .meta3 a.cat,
    .elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta2 a.cat,
    .elementor-7176 .elementor-element.elementor-element-9027f05 .single_post_text .meta4 a.cat {
        font-size: 14px
    }
    .elementor-7176 .elementor-element.elementor-element-9027f05 .owl-nav div {
        width: 5px
    }
    .elementor-7176 .elementor-element.elementor-element-c87bd5d .news_letter {
        magin-left: 0;
        margin-top: 0;
        margin-bottom: -40px;
        margin-right: 0
    }
    .elementor-7176 .elementor-element.elementor-element-c87bd5d>.elementor-widget-container {
        margin: 0 0 60px 0
    }
    .elementor-7176 .elementor-element.elementor-element-b82ec12>.elementor-widget-container {
        margin: 0 0 50px 0
    }
}

@media(min-width:768px) {
    .elementor-7176 .elementor-element.elementor-element-f5a87df {
        width: 68.454%
    }
    .elementor-7176 .elementor-element.elementor-element-1fe6b93 {
        width: 31.46%
    }
    .elementor-7176 .elementor-element.elementor-element-779611f {
        width: 66.97%
    }
    .elementor-7176 .elementor-element.elementor-element-0457713 {
        width: 32.986%
    }
    .elementor-7176 .elementor-element.elementor-element-c532353 {
        width: 68.246%
    }
    .elementor-7176 .elementor-element.elementor-element-64e0f69 {
        width: 31.406%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-7176 .elementor-element.elementor-element-f5a87df {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-1fe6b93 {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-779611f {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-0457713 {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-c532353 {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-64e0f69 {
        width: 100%
    }
}

@media(max-width:767px) {
    .elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text h4 a,
    .elementor-7176 .elementor-element.elementor-element-eb5b620 .post_type7 .single_post_text h4 a {
        font-size: 20px
    }
    .elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post_text .meta {
        margin: 0 0 10px 0
    }
    .elementor-7176 .elementor-element.elementor-element-eb5b620 .single_post .post_img img {
        height: 250px;
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-eb5b620 .single_gallary_item img {
        height: 64px
    }
    .elementor-7176 .elementor-element.elementor-element-d035853 .theme-4 .tab-content .meta4 span,
    .elementor-7176 .elementor-element.elementor-element-d035853 .single_post_text .meta span,
    .elementor-7176 .elementor-element.elementor-element-d035853 .style2 .single_post_text .meta4 .date {
        font-size: 11px
    }
    .elementor-7176 .elementor-element.elementor-element-9b19a58 .single_post {
        margin: 0 0 -25px 0
    }
    .elementor-7176 .elementor-element.elementor-element-9b19a58>.elementor-widget-container {
        margin: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-589fc17 .theme-3 a.single_social {
        width: 47%
    }
    .elementor-7176 .elementor-element.elementor-element-0d0e404 {
        width: 100%
    }
    .elementor-7176 .elementor-element.elementor-element-ca46856 .mix_carousel {
        padding: 0 10px 0 10px
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .widget-title {
        margin: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .widget-title {
        padding: 0 0 20px 0
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .video-heading .widget-title {
        margin: 0 0 0 0;
        padding: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .video .single_post_text .meta3 a.cat {
        font-size: 12px
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .video .single_post_text h4 a {
        font-size: 16px;
        line-height: 24px
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta a.cat,
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta2 a.cat,
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post_text .meta4 a.cat {
        font-size: 14px
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .single_post {
        margin: 0 0 30px 0
    }
    .elementor-7176 .elementor-element.elementor-element-ab5f510 .viceo_posts_wrap {
        margin: 40px 0 0 0;
        padding: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-ef6f5ad .widget-title {
        margin: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-ef6f5ad .widget-title {
        padding: 0 0 0 0
    }
    .elementor-7176 .elementor-element.elementor-element-c87bd5d .news_letter {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px
    }
}

.elementor-6957 .elementor-element.elementor-element-ac06985 .single_post {
    border-bottom:
}

body.page-id-7176 .container,
.page-id-7176 .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px !important
}

body.page-id-7176 .logo {
    max-width: initial
}

.theme-1 .dropdown-menu>.active>a:focus,
.theme-1 .dropdown-menu>.active>a:hover {
    color: #fff !important
}

body.page-id-7176 .widget-title {
    border-bottom: 0
}

body.page-id-7176 .widget-title:after {
    display: none
}

.theme-1 .dropdown-menu>.active>a:hover,
.theme-1 .dropdown-menu>.active>a.active {
    background: #1091ff;
    color: #fff
}