body.woocommerce {
    background: #fff
}

table.shop_table_responsive thead {
    display: none
}

table.shop_table_responsive tbody th {
    display: none
}

table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both
}

table.shop_table_responsive tr td:before {
    content: attr(data-title) "";
    float: left
}

table.shop_table_responsive tr td.product-remove a {
    text-align: left
}

table.shop_table_responsive tr td.product-remove:before {
    display: none
}

table.shop_table_responsive tr td.actions:before,
table.shop_table_responsive tr td.download-actions:before {
    display: none
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center
}

@media screen and (min-width:48em) {
    table.shop_table_responsive thead {
        display: table-header-group
    }
    table.shop_table_responsive tbody th {
        display: table-cell
    }
    table.shop_table_responsive tr td,
    table.shop_table_responsive tr th {
        text-align: left
    }
    table.shop_table_responsive tr td {
        display: table-cell;
        vertical-align: middle
    }
    table.shop_table_responsive tr td:before {
        display: none
    }
}

.product-filter-and-order .woocommerce-result-count {
    margin-top: 7px
}

.product-filter-and-order .woocommerce-result-count {
    align-items: center;
    display: flex;
    float: left;
    width: 33.33%
}

.product-filter-and-order .woocommerce-ordering {
    float: right
}

.product-filter-and-order {
    align-items: center;
    background: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 15px;
    width: 100%
}

.woocommerce-ordering select {
    padding: 5px
}

.product-filter-and-order select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0 none;
    width: 230px;
    cursor: pointer;
    background: #fff url(../../../../../../../../../themes/newsprk/woocommerce/assets/drop-down-arrow.png) no-repeat scroll right 5% center;
    padding-left: 10px
}

ul.products {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0
}

ul.products li.product {
    list-style: none;
    position: relative;
    margin-bottom: 2em
}

.woocommerce-loop-product__link .onsale {
    background: #1091ff;
    border-radius: 50px 0 0 50px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    padding: 8px 10px 2px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1
}

ul.products li.product img {
    display: block;
    margin-bottom: 15px
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px
}

li.product .price {
    display: block;
    margin-bottom: 15px
}

li.product .price .woocommerce-Price-amount.amount,
li.product .price ins {
    color: #1091ff;
    font-size: 16px;
    text-decoration: none
}

li.product .price del .woocommerce-Price-amount.amount {
    margin-right: 15px;
    color: inherit;
    font-size: inherit
}

li.product .add_to_cart_button,
li.product .added_to_cart.wc-forward,
ul.products li.product .button {
    background: #1091ff;
    border-radius: 5px;
    color: #fff;
    display: inline-block !important;
    left: 50%;
    margin-right: 3px;
    margin-top: 50px;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    visibility: visible;
    border: 0;
    background: #1091ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    min-width: 150px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, .2);
    border-radius: 50px
}

li.product:hover .add_to_cart_button,
li.product:hover .added_to_cart.wc-forward,
ul.products li.product:hover .button {
    opacity: 1;
    margin-top: 0
}

li.product .add_to_cart_button.added {
    opacity: 0;
    visibility: hidden
}

li.product .add_to_cart_button:hover,
li.product .added_to_cart.wc-forward:hover,
ul.products li.product .button:hover {
    background: #fff;
    color: #1091ff
}

li.product .star-rating {
    float: right
}

.star-rating span::before {
    color: #1091ff
}

ul.products li.product img {
    display: block;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100% !important;
    height: auto !important
}

.woocommerce-pagination {
    padding-top: 50px;
    border-top: 4px double #f3f3f3
}

.woocommerce-pagination ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center
}

.woocommerce-pagination li {
    display: inline-block
}

.woocommerce-pagination li a,
.woocommerce-pagination li span {
    background: #fff;
    border: 1px solid #e0deff;
    color: #333;
    display: block;
    margin: 0 3px;
    padding: 5px 15px 6px;
    text-align: center;
    transition: all .3s ease 0s;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    padding-top: 10px;
    border-radius: 50%;
    box-shadow: 0 16px 32px rgba(0, 0, 0, .1)
}

.woocommerce-pagination li a:hover,
.woocommerce-pagination li span.current {
    background: #1091ff;
    border-color: #1091ff;
    color: #fff
}

@media screen and (min-width:48em) {
    ul.products li.product {
        width: 30.7966666667%;
        float: left;
        margin-right: 3.8%
    }
    ul.products li.product.first {
        clear: both
    }
    ul.products li.product.last {
        margin-right: 0
    }
    .columns-1 ul.products li.product {
        float: none;
        width: 100%
    }
    .columns-2 ul.products li.product {
        width: 48.1%
    }
    .columns-3 ul.products li.product {
        width: 30.7966666667%
    }
    .columns-4 ul.products li.product {
        width: 22.15%
    }
    .columns-5 ul.products li.product {
        width: 16.96%
    }
    .columns-6 ul.products li.product {
        width: 13.4933333333%
    }
}

@media screen and (max-width:767px) {
    ul.products li.product img {
        width: 100%
    }
}

.single-product-page .onsale {
    background: #1091ff;
    border-radius: 0 50px 50px 0;
    color: #fff;
    left: 0;
    padding: 7px 15px;
    position: absolute;
    top: 0;
    z-index: 9
}

.product-thumb-and-curt-button>div {
    float: left;
    width: 50%
}

.summary.entry-summary {
    padding-left: 50px
}

.product-thumb-and-curt-button {
    overflow: hidden
}

.single-product div.product {
    content: "";
    display: table;
    table-layout: fixed;
    position: relative
}

.single-product div.product .woocommerce-product-gallery {
    position: relative
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    border-radius: 50px 0 0 50px;
    display: block;
    padding: 7px 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: #1091ff;
    width: 60px;
    overflow: hidden
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::after {
    background: #1091ff;
    color: #fff;
    content: "\f00e";
    font-family: 'Font Awesome 5 Pro';
    font-size: 18px;
    height: 100%;
    left: 0;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .3s ease 0s;
    width: 100%;
    z-index: 9
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover::after {
    background: #1091ff;
    color: #fff
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1em
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    content: "";
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    cursor: pointer;
    float: left
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: .5
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    opacity: 1
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
    opacity: 1
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
    width: 48.1%
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
    margin-right: 0
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
    clear: both
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 30.7966666667%
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
    margin-right: 0
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
    clear: both
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 22.15%
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
    margin-right: 0
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: both
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 16.96%
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
    margin-right: 0
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
    clear: both
}

.stock:empty:before {
    display: none
}

.stock.in-stock {
    color: #0f834d
}

.stock.out-of-stock {
    color: #e2401c
}

.single-product-page .product_title {
    font-size: 24px;
    font-weight: 500
}

.woocommerce-product-rating {
    margin-bottom: 15px;
    overflow: hidden
}

.woocommerce-product-rating .woocommerce-review-link {
    float: right
}

.woocommerce-product-rating .star-rating {
    float: left
}

.single-product-page .summary.entry-summary .woocommerce-Price-amount.amount {
    color: #1091ff;
    font-size: 20px;
    font-weight: 500
}

.single-product-page .summary.entry-summary ins {
    text-decoration: none
}

.single-product-page .summary.entry-summary del .woocommerce-Price-amount.amount {
    color: inherit;
    font-size: inherit
}

.single-product-page .woocommerce-product-details__short-description {
    margin-bottom: 20px;
    margin-top: 30px
}

.single-product-page .summary.entry-summary form.cart {
    margin-bottom: 20px;
    overflow: hidden
}

form.variations_form.cart table.variations td,
form.variations_form.cart table.variations tr {
    display: block;
    color: #4d557d;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    text-align: left;
    padding: 0
}

form.variations_form.cart table.variations select {
    padding: 8px 20px;
    margin-bottom: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
    background: url(../../../../../../../../../themes/newsprk/assets/img/drop-down-arrow.png) no-repeat right 11px center;
    border-radius: 3px
}

a.reset_variations {
    margin-left: 10px
}

.woocommerce .quantity {
    width: 122px;
    border: 1px solid #1091ff;
    overflow: hidden;
    border-radius: 50px;
    height: 40px
}

.woocommerce .quantity .input-text.qty.text,
.woocommerce .quantity button.qty_button {
    height: 100%;
    padding: 8px;
    text-align: center;
    border: 0;
    min-width: 40px;
    width: 40px
}

.woocommerce .quantity button.qty_button {
    background: #1091ff;
    color: #fff;
    border-color: #1091ff;
    border-radius: 0;
    transition: .3s
}

.woocommerce input[type=number]::-webkit-inner-spin-button,
.woocommerce input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0
}

.woocommerce .quantity button.qty_button.minus {
    float: left;
    border-right: 1px solid #1091ff
}

.woocommerce .quantity button.qty_button.plus {
    float: right;
    border-left: 1px solid #1091ff
}

.woocommerce .quantity .input-text.qty.text {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -o-appearance: textfield;
    appearance: none
}

.woocommerce .quantity button.qty_button:hover {
    background: #fff;
    border-color: #1091ff;
    color: #1091ff
}

.single-product-page .summary.entry-summary form.cart .quantity {
    float: left;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #1091ff;
    height: 45px
}

.woocommerce-variation.single_variation {
    margin-bottom: 30px
}

.woocommerce-variation-description {
    margin-bottom: 14px;
    background: #f8f8f8;
    padding: 20px
}

.single-product-page .summary.entry-summary form.cart .button {
    height: 45px;
    background: #1091ff;
    border: 0 none;
    color: #fff;
    padding-top: 7px;
    transition: all .3s cubic-bezier(.49, -.03, .22, 1.18) 0s;
    border: 1px solid #1091ff;
    min-width: 150px
}

.single-product-page .summary.entry-summary form.cart .button:hover {
    color: #1091ff;
    border-color: #1091ff;
    background: #fff
}

.single-product-page .woocommerce-grouped-product-list {
    border-bottom: 1px solid #e0deff;
    border-left: 1px solid #e0deff;
    margin-bottom: 20px;
    width: 100%
}

.single-product-page .woocommerce-grouped-product-list td,
.single-product-page .woocommerce-grouped-product-list th {
    border-right: 1px solid #e0deff;
    border-top: 1px solid #e0deff;
    padding: 5px;
    text-align: center
}

.woocommerce-grouped-product-list .woocommerce-Price-amount.amount {
    font-size: inherit !important;
    font-weight: 400 !important
}

.woocommerce-grouped-product-list.group_table label {
    font-weight: 400
}

.single-product-page .product_meta>span {
    display: block;
    margin-bottom: 15px
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .single-product-page .woocommerce-grouped-product-list.group_table .quantity {
        margin-right: 0 !important
    }
    .widget_shopping_cart_content .woocommerce-mini-cart__buttons a {
        padding: 7px 17px !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .single-product-page .woocommerce-grouped-product-list.group_table .quantity {
        margin-right: 0 !important
    }
    .widget_shopping_cart_content .woocommerce-mini-cart__buttons a {
        padding: 7px 17px !important
    }
}

@media only screen and (max-width:767px) {
    .product-thumb-and-curt-button>div {
        float: none;
        width: 100%
    }
    .summary.entry-summary {
        padding-left: 0;
        padding-top: 30px
    }
    .single-sidebar-widget.woocommerce.widget_shopping_cart {
        padding: 20px
    }
    .woocommerce-cart-form__cart-item.cart_item .product-quantity {
        overflow: hidden
    }
    .woocommerce-cart-form__cart-item.cart_item .product-quantity .quantity {
        float: right;
        margin: 0
    }
    .checkout_coupon.woocommerce-form-coupon p.form-row-first {
        float: left;
        width: 60% !important
    }
    .checkout_coupon.woocommerce-form-coupon .form-row-last {
        float: right;
        width: 40% !important
    }
}

.woocommerce-cart-form {
    margin-bottom: 40px
}

.cart-collaterals table,
.shop_table,
.woocommerce-cart-form table {
    border-bottom: 1px solid #e0deff;
    border-left: 1px solid #e0deff;
    width: 100%
}

.cart-collaterals table td,
.cart-collaterals table th,
.shop_table td,
.shop_table th,
.woocommerce-cart-form table td,
.woocommerce-cart-form table th {
    border-right: 1px solid #e0deff;
    border-top: 1px solid #e0deff;
    padding: 10px
}

.woocommerce-cart-form table img {
    width: 80px
}

.woocommerce-cart-form table input {
    padding: 10px
}

.woocommerce-cart-form table .product-remove {
    font-size: 24px;
    text-align: center
}

.cart-collaterals h2 {
    font-size: 22px
}

.woocommerce-cart-form table .coupon label {
    display: none
}

.woocommerce-cart-form table .coupon {
    float: left
}

.woocommerce-cart-form table .coupon input {
    height: 45px;
    padding: 0 20px;
    width: 170px
}

.woocommerce-cart-form table button {
    background: #1091ff;
    color: #fff;
    float: right;
    height: 45px;
    padding: 10px 20px;
    transition: all .3s ease 0s;
    min-width: 150px;
    border: 1px solid #1091ff
}

.cart-collaterals .wc-proceed-to-checkout {
    margin-top: 20px;
    text-align: right
}

.cart-collaterals a.checkout-button {
    border: 1px solid #1091ff;
    background: #1091ff;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    height: 45px
}

.cart-collaterals a.checkout-button:hover,
.woocommerce-cart-form table button:hover {
    background: #fff;
    border-color: #1091ff;
    color: #1091ff
}

@media screen and (max-width:767px) {
    .woocommerce-cart-form table .coupon input {
        margin-bottom: 20px;
        width: 100%
    }
    .woocommerce-cart-form table .coupon {
        float: none;
        margin-bottom: 15px
    }
    .woocommerce-cart-form table button {
        float: none
    }
}

.woocommerce-shipping-methods {
    padding: 0;
    list-style: none
}

.woocommerce-cart-form img {
    padding: 0
}

.checkout_coupon.woocommerce-form-coupon {
    background: #e0deff;
    overflow: hidden;
    padding: 20px
}

.checkout_coupon.woocommerce-form-coupon input {
    padding: 10px 20px
}

.checkout_coupon.woocommerce-form-coupon p.form-row-first {
    float: left;
    width: 80%
}

.checkout_coupon.woocommerce-form-coupon .form-row-last {
    float: right;
    width: 20%
}

.checkout_coupon.woocommerce-form-coupon button {
    background: #1091ff;
    border: 1px solid #1091ff;
    color: #fff;
    height: 45px;
    padding: 10px;
    text-transform: capitalize;
    transition: all .3s ease 0s;
    width: 100%
}

.checkout_coupon.woocommerce-form-coupon button:hover {
    color: #1091ff;
    border-color: #1091ff;
    background: #fff
}

.checkout.woocommerce-checkout {
    overflow: hidden;
    z-index: -1
}

#customer_details {
    float: left;
    padding-right: 15px;
    width: 50%
}

.woocommerce-billing-fields__field-wrapper p,
.woocommerce-shipping-fields__field-wrapper p {
    margin-bottom: 20px
}

.checkout.woocommerce-checkout>h3 {
    float: right
}

#customer_details h3,
.checkout.woocommerce-checkout>h3 {
    font-size: 20px;
    margin-top: 40px;
    text-transform: capitalize
}

#ship-to-different-address label {
    cursor: pointer
}

.woocommerce-checkout-review-order {
    float: right;
    width: 50%;
    padding-left: 15px
}

#customer_details>div>div {
    overflow: hidden;
    position: relative
}

#customer_details input,
#customer_details select,
#customer_details textarea {
    padding: 10px
}

.select2-container .select2-selection--single {
    height: auto
}

.select2-container--default .select2-selection--single {
    padding: 8px;
    min-height: 50px
}

.woocommerce-checkout-review-order ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.wc_payment_methods.payment_methods {
    margin: 20px 0
}

.form-row.place-order button {
    background: #1091ff;
    border: 1px solid #1091ff;
    color: #fff;
    font-weight: 600;
    height: 45px;
    margin-top: 30px;
    padding: 10px 30px;
    text-transform: capitalize;
    transition: all .3s ease 0s;
    width: auto
}

.form-row.place-order button:hover {
    background: #fff;
    color: #1091ff;
    border-color: #1091ff
}

.checkout.woocommerce-checkout label,
.checkout.woocommerce-checkout td,
.checkout.woocommerce-checkout th {
    font-weight: 400 !important
}

@media screen and (min-width:768px) {
    .col2-set .form-row-first {
        float: left;
        margin-right: 3.8%
    }
    .col2-set .form-row-last {
        float: right;
        margin-right: 0
    }
    .col2-set .form-row-first,
    .col2-set .form-row-last {
        width: 48.1%
    }
}

@media screen and (max-width:767px) {
    #customer_details,
    #order_review,
    .checkout.woocommerce-checkout>h3 {
        float: none;
        padding: 0;
        width: 100%
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    top: 0;
    right: 15px
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox {
    padding-left: 20px
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox input {
    margin-top: 7px
}

.wc_payment_methods.payment_methods li {
    background: #f8f8f8;
    margin-top: 10px;
    padding: 15px
}

.woocommerce-terms-and-conditions {
    background: #f8f8f8;
    margin-top: 20px;
    padding: 20px
}

.wc_payment_method.payment_method_paypal a {
    float: left;
    margin-left: -15px
}

.wc_payment_method.payment_method_paypal img {
    display: block;
    height: 80px;
    margin-left: -15px;
    margin-top: 10px;
    padding: 0;
    width: 100%
}

.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    background: #1091ff;
    color: #fff;
    padding: 10px;
    text-align: center
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    border-bottom: 1px solid #e0deff;
    list-style: outside none none;
    margin: 0 0 40px;
    padding: 0
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
    border-left: 1px solid #e0deff;
    border-right: 1px solid #e0deff;
    border-top: 1px solid #e0deff;
    padding: 10px;
    position: relative
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details strong {
    align-items: center;
    border-left: 1px solid #e0deff;
    display: flex;
    height: 100%;
    left: 183px;
    padding-left: 15px;
    position: absolute;
    top: 0
}

.woocommerce-order-received .woocommerce-order h2 {
    font-size: 22px
}

.woocommerce-order-received .woocommerce-order {
    overflow: hidden
}

.woocommerce-customer-details {
    margin-top: 50px
}

.woocommerce-column--billing-address {
    float: left
}

.woocommerce-column--shipping-address {
    float: right
}

@media screen and (max-width:767px) {
    .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details strong {
        border: 0 none;
        left: inherit;
        padding: 0;
        position: inherit
    }
    .woocommerce-column--billing-address,
    .woocommerce-column--shipping-address {
        float: none
    }
}

.cart-button-and-item {
    float: right;
    min-height: 45px;
    position: relative;
    right: 0;
    top: 0;
    width: 60px
}

.cart-button {
    color: #1091ff;
    cursor: pointer;
    font-size: 30px;
    height: 100%;
    padding-top: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
    padding-left: 10px
}

.cart-button:focus {
    color: #1091ff
}

.cart-button .cart-count {
    background: #1091ff;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    height: 25px;
    position: absolute;
    right: 34px;
    text-align: center;
    width: 25px;
    line-height: 1;
    padding-top: 7px
}

.site-header-cart {
    background: #fff;
    opacity: 0;
    overflow: hidden;
    padding: 20px 20px 0;
    position: absolute;
    right: 0;
    transform: translateY(80px);
    transition: all .3s ease 0s;
    visibility: hidden;
    width: 320px;
    z-index: 99999
}

.site-header-cart .cart-contents {
    text-decoration: none
}

.woocommerce-mini-cart__total.total::after {
    display: none
}

.woocommerce-mini-cart__total.total {
    display: block;
    margin-right: 0;
    overflow: hidden
}

.site-header-cart .product_list_widget {
    margin: 0;
    padding: 0
}

.cart-button-and-item:hover .site-header-cart {
    transform: translateY(45px);
    opacity: 1;
    visibility: visible
}

.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-family: star;
    font-weight: 400
}

.star-rating:before {
    content: "\53\53\53\53\53";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}

.star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0
}

p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400
}

p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: star;
    content: "\53";
    color: #404040;
    text-indent: 0;
    opacity: .25
}

p.stars a:hover~a:before {
    content: "\53";
    color: #404040;
    opacity: .25
}

p.stars:hover a:before {
    content: "\53";
    color: #1091ff;
    opacity: 1
}

p.stars.selected a.active:before {
    content: "\53";
    color: #1091ff;
    opacity: 1
}

p.stars.selected a.active~a:before {
    content: "\53";
    color: #404040;
    opacity: .25
}

p.stars.selected a:not(.active):before {
    content: "\53";
    color: #1091ff;
    opacity: 1
}

.woocommerce-tabs.wc-tabs-wrapper {
    border-top: 4px double #f3f3f3;
    margin-top: 30px;
    padding-top: 30px
}

.woocommerce-tabs.wc-tabs-wrapper .panel {
    border: 0 none !important;
    box-shadow: 0 0 0
}

.woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 4px double #f3f3f3
}

.woocommerce-tabs ul.tabs li {
    background: #f3f3f3;
    display: inline-block;
    margin: 0;
    position: relative;
    transition: all .3s ease 0s
}

.woocommerce-tabs ul.tabs li.active {
    background: #1091ff
}

.woocommerce-tabs ul.tabs li a {
    padding: 10px 20px;
    display: block
}

.woocommerce-tabs ul.tabs li.active a {
    color: #fff
}

.woocommerce-tabs .panel h2:first-of-type {
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px
}

.woocommerce-tabs .panel h2:first-of-type:after {
    content: "";
    width: 70px;
    height: 2px;
    background: #1091ff;
    position: absolute;
    left: 0;
    bottom: 0
}

.woocommerce-tabs.wc-tabs-wrapper table {
    border-bottom: 1px solid #e0deff;
    border-left: 1px solid #e0deff;
    width: 100%
}

.woocommerce-tabs.wc-tabs-wrapper table td,
.woocommerce-tabs.wc-tabs-wrapper table th {
    border-right: 1px solid #e0deff;
    border-top: 1px solid #e0deff;
    padding: 10px
}

#review_form_wrapper {
    display: block;
    margin-top: 20px
}

#review_form_wrapper .comment-reply-title {
    display: block;
    margin-bottom: 15px
}

.comment-form-rating {
    align-items: center;
    display: flex;
    margin-bottom: 12px
}

.comment-form-rating .stars,
.comment-form-rating label {
    margin-right: 10px
}

.woocommerce-Reviews ol {
    list-style: outside none none;
    margin: 0;
    padding: 0
}

.woocommerce-Reviews ol li {
    margin-bottom: 50px;
    padding-left: 100px;
    position: relative
}

.woocommerce-Reviews ol li img {
    border-radius: 50%;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px
}

#review_form .form-submit #submit {
    width: auto;
    padding: 14px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #1091ff;
    background: #1091ff;
    color: #fff;
    margin-top: 20px;
    min-width: 150px
}

#review_form .form-submit #submit:hover {
    background: #fff;
    color: #1091ff
}

.comment-form .comment-form-rating>label {
    width: auto
}

.woocommerce-password-strength {
    text-align: right
}

.woocommerce-password-strength.strong {
    color: #0f834d
}

.woocommerce-password-strength.short {
    color: #e2401c
}

.woocommerce-password-strength.bad {
    color: #e2401c
}

.woocommerce-password-strength.good {
    color: #3d9cd2
}

.form-row.woocommerce-validated input.input-text {
    box-shadow: inset 2px 0 0 #0f834d
}

.form-row.woocommerce-invalid input.input-text {
    box-shadow: inset 2px 0 0 #e2401c
}

.required {
    color: #e2401c
}

.woocommerce-notices-wrapper .woocommerce-message {
    background: #f3f3f3;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    width: 100%
}

.woocommerce-message a {
    margin-right: 10px
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
    background: #f3f3f3;
    clear: both;
    content: "";
    display: table;
    padding: 30px;
    table-layout: fixed;
    text-align: center;
    width: 100%
}

.woocommerce-checkout .woocommerce-message {
    background: #303030;
    color: #fff;
    padding: 10px
}

.woocommerce-error {
    background-color: #e2401c;
    color: #fff;
    padding: 10px
}

.woocommerce-error li {
    list-style: outside none none
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    background-color: #3d9cd2;
    z-index: 9999
}

.widget_price_filter .price_slider {
    margin-bottom: 1.5em
}

.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4em
}

.widget_price_filter .price_slider_amount .button {
    float: left
}

.widget_price_filter .ui-slider {
    position: relative;
    text-align: left
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: ew-resize;
    outline: 0;
    background: #1091ff;
    box-sizing: border-box;
    margin-top: -.25em;
    opacity: 1
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em
}

.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active,
.widget_price_filter .ui-slider .ui-slider-handle:hover {
    box-shadow: 0 0 0 .25em rgba(0, 0, 0, .1)
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: #1091ff
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, .1)
}

.widget_price_filter .ui-slider-horizontal {
    height: .5em
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 100%
}

.price_slider_amount .button {
    background: #1091ff;
    color: #fff;
    padding: 8px 20px;
    transition: .3s;
    border: 1px solid #1091ff
}

.price_slider_amount .button:hover {
    background: #fff;
    border-color: #1091ff;
    color: #1091ff
}

.product_list_widget li {
    overflow: hidden;
    padding-left: 0 !important
}

.product_list_widget li img {
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
    width: 60px
}

.product_list_widget li .product-title {
    display: block
}

.product_list_widget li .star-rating {
    float: right
}

.product_list_widget .woocommerce-Price-amount.amount {
    color: #1091ff;
    text-decoration: none
}

.product_list_widget del .woocommerce-Price-amount.amount {
    color: #646775
}

ul.product_list_widget li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e0deff;
    padding-bottom: 15px;
    margin-bottom: 15px
}

ul.product_list_widget li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.widget_shopping_cart_content img {
    float: left;
    margin-right: 15px;
    width: 60px
}

.widget_shopping_cart li {
    padding-bottom: 15px;
    border-bottom: 1px solid #e0deff;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative
}

.widget_shopping_cart li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 15px !important
}

.widget_shopping_cart_content ul li a.remove {
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 5px
}

.widget_shopping_cart_content ul li a.remove:hover {
    color: #e2401c
}

.widget_shopping_cart_content .quantity {
    display: block;
    border: 0;
    width: auto;
    overflow: visible
}

.widget_shopping_cart_content .product_list_widget {
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 10px
}

.widget_shopping_cart_content .woocommerce-mini-cart__total {
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 10px
}

.widget_shopping_cart_content .woocommerce-mini-cart__total .amount {
    float: right
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons a {
    background: #1091ff;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 7px 20px;
    border: 1px solid #1091ff
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons a:last-child {
    float: right
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons a:hover {
    background: #fff;
    border-color: #1091ff;
    color: #1091ff
}

.woocommerce-mini-cart__empty-message {
    text-align: center
}

.widget_product_categories li,
.widget_rating_filter li,
.woocommerce-widget-layered-nav li {
    padding-left: 0 !important
}

ul.products {
    width: 100%
}

.widget_product_search button {
    background: #1091ff;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease 0s;
    border: 1px solid #1091ff
}

.widget_product_search form {
    position: relative;
    height: 50px
}

.widget_product_search input {
    height: 100%;
    padding: 10px
}

.widget_product_search button:hover {
    background: #fff;
    border-color: #1091ff;
    color: #1091ff
}

.widget_layered_nav ul li {
    text-align: right;
    overflow: hidden
}

.widget_layered_nav ul li a {
    float: left
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #e0deff transparent transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #e0deff;
    border-width: 0 10px 10px
}

div#customer_details>.col-1 {
    max-width: 100%;
    display: inline-table
}

div#customer_details .form-row {
    display: block
}

#customer_details>div>div {
    overflow: visible
}

div#customer_details .col-2 {
    width: 100%;
    max-width: 100%
}

nav.woocommerce-MyAccount-navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #e0deff;
    padding-bottom: 20px;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500
}

nav.woocommerce-MyAccount-navigation ul li {
    flex: 1;
    gap: 10px
}

nav.woocommerce-MyAccount-navigation ul li.is-active a {
    color: #1091ff
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
    max-width: 100%
}

.woocommerce-MyAccount-content input {
    width: 100%;
    padding: 10px
}

.password-input {
    width: 100%
}

.woocommerce-MyAccount-content button.button,
.woocommerce-form-login button.button {
    height: auto;
    padding: 15px 28px;
    transition: .3s;
    margin-top: 20px;
    background: #1091ff;
    color: #fff;
    border: 0
}

.woocommerce-MyAccount-content button.button:hover,
.woocommerce-form-login button.button:hover {
    color: #1091ff;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1)
}

.woocommerce label {
    width: 100%;
    padding-left: 0 !important
}

.woocommerce .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.widget_rating_filter ul li a {
    display: flex;
    gap: 15px
}

.widget_rating_filter ul li {
    list-style: none
}

.widget_rating_filter ul {
    padding: 0
}

.woocommerce-widget-layered-nav ul {
    padding-left: 0
}

.product_list_widget {
    padding-left: 0;
    text-align: left;
    margin-bottom: 0
}

.widget_product_categories li,
.widget_rating_filter li,
.woocommerce-widget-layered-nav li {
    padding-left: 0 !important;
    list-style-type: disclosure-closed;
    color: #1091ff
}

.single-widgets.woocommerce {
    margin-bottom: 40px
}

.single-widgets.woocommerce .widget-title {
    padding-bottom: 3px;
    margin-bottom: 40px
}

.single-widgets.woocommerce .widget-title h3 {
    font-size: 20px
}